name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # le workflow s’exécute à chaque push sur la branche main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code du repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Étape 2 : Se connecter à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Étape 3 : Builder et tagger l’image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest .

      # Étape 4 : Pousser l’image sur Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest
