name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code du repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Étape 2 : Configurer Java (Sonar nécessite un JDK)
      - name: Set up JDK (required by Sonar)
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      # ✅ Étape 3 : Installer le sonar-scanner CLI
      - name: Install SonarScanner CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget
          wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-6.2.0.4584-linux-x64.zip
          unzip sonar-scanner-cli-6.2.0.4584-linux-x64.zip
          sudo mv sonar-scanner-6.2.0.4584-linux-x64/ sonar/
          echo "sonar/bin" >> $GITHUB_PATH


      # ✅ Étape 4 : Exécuter l'analyse SonarCloud
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=is2ac_mlops_api_to_k8s_prod
            -Dsonar.organization=is2ac
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_SECRET }}

      # Étape 5 : Se connecter à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Étape 6 : Builder et tagger l’image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest .

      # Étape 7 : Pousser l’image sur Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest
