name: Build and Push Docker Image

on:
  push:
    branches:
      - main  # le workflow s’exécute à chaque push sur la branche main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code du repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Etape d'analyse du code on SONARQUBE 
      - name: Set up JDK (required by Sonar)
        uses: actions/setup-java@v3 
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install SonarScanner
        run: |
          npm install -g sonarqube-scanner

      - name: Run SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_SECRET}}
        run: |
          sonar-scanner \
            -Dsonar.projectKey=IS2aC_mlops_api_to_k8s_prod \
            -Dsonar.organization=Isaac Emmanuel YAO \
            -Dsonar.sources=. \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=$SONAR_TOKEN

      # Étape 2 : Se connecter à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Étape 3 : Builder et tagger l’image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest .

      # Étape 4 : Pousser l’image sur Docker Hub
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-demo:latest
